@model   MemberShipWebsite.Areas.Models.EditButtonModel

    <a href="@Url.Action("Edit")@Model.Link" class="btn btn-primary btn-sm">
        <span class="fa fa-pencil" aria-hidden="true"></span> Edit
    </a>
